// Global Variables used throughout the application

// Blue Colors
$cfs-blue-1: #0A192C;
$cfs-blue-2: #182940;
$cfs-blue-3: #27374D;
$cfs-blue-4: #3D4F67;
$cfs-blue-5: #596980;

// Cyan Colors
$cfs-cyan-1: #3495B5;
$cfs-cyan-2: #55B2D1;
$cfs-cyan-3: #7CCBE5;
$cfs-cyan-4: #AAE1F4;
$cfs-cyan-5: #E1F6FD;

// Green Colors
$cfs-green-1: #072B23;
$cfs-green-2: #143F35;
$cfs-green-3: #234B42;
$cfs-green-4: #38655B;
$cfs-green-5: #537E74;

// Light Green Colors
$cfs-light-green-1: #72951F;
$cfs-light-green-2: #91B53E;
$cfs-light-green-3: #B7D968;
$cfs-light-green-4: #D7F299;
$cfs-light-green-5: #E8F8C3;

// Purple Colors
$cfs-purple-1: #110C2F;
$cfs-purple-2: #211B44;
$cfs-purple-3: #302B51;
$cfs-purple-4: #48436C;
$cfs-purple-5: #655F87;

// Yellow Colors
$cfs-yellow-1: #B99D2B;
$cfs-yellow-2: #D9BE50;
$cfs-yellow-3: #FDE47F;
$cfs-yellow-4: #FFEDA6;
$cfs-yellow-5: #FFF5CD;

// Grey Colors
$cfs-grey-1: #595555;
$cfs-grey-2: #878585;
$cfs-grey-3: #B1B0B0;
$cfs-grey-4: #DEDDDD;
$cfs-grey-5: #FFFEFE;
$cfs-white: whitesmoke;
