<div class="menu-content">
  <button class="menu-button" [matMenuTriggerFor]="menu" mat-button>
    <mat-icon class="hamburger">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <mat-nav-list>
      <mat-list-item class="menu-list-item" routerLink="/dashboard">
        <span class="menu-item" matLine>Dashboard</span>
      </mat-list-item>
      <mat-list-item class="menu-list-item" routerLink="/teams">
        <span class="menu-item" matLine>Teams</span>
      </mat-list-item>
      <mat-list-item class="menu-list-item" routerLink="/roster">
        <span class="menu-item" matLine>Player Roster</span>
      </mat-list-item>
      <mat-list-item class="menu-list-item" routerLink="/portal">
        <span class="menu-item" matLine>Player Portal</span>
      </mat-list-item>
      <mat-list-item class="menu-list-item" routerLink="/fpi">
        <span class="menu-item" matLine>FPI</span>
      </mat-list-item>
      <mat-list-item class="menu-list-item" routerLink="/sp">
        <span class="menu-item" matLine>SP+</span>
      </mat-list-item>
      <mat-list-item class="menu-list-item" routerLink="/lines">
        <span class="menu-item" matLine>Betting Lines</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-menu>
</div>
