<app-spinner *ngIf="isLoading"></app-spinner>
<div class="mat-elevation-z8 header-container">
  <app-menu></app-menu>
  <span class="header-title">Football Power Index</span>
  <span class="header-subtitle">(FPI is not a prediction but a probability)</span>

  <div class="select-container">
    <select class="form-select dropdown-font" (change)="selectYear();" [(ngModel)]="selectedYear">
      <option *ngFor="let year of years" [value]="year">{{year}}</option>
    </select>
  </div>

</div>

<div class="main-content-table">
  <div class="mat-elevation-z8 table-container">
    <table [dataSource]="dataSource" class="team-table" mat-table matSort>

      <!-- Row Number -->
      <ng-container matColumnDef="row">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header>#</th>
        <td *matCellDef="let element;let i=index;" class="table-cell" mat-cell> {{i+1}} </td>
      </ng-container>

      <!-- Team Column -->
      <ng-container matColumnDef="team">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by element">Team</th>
        <td *matCellDef="let element" class="table-cell" mat-cell> {{element.team}} </td>
      </ng-container>

      <!-- Conference Column -->
      <ng-container matColumnDef="conference">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by conference">Conference</th>
        <td *matCellDef="let element" class="table-cell" mat-cell> {{element.conference}} </td>
      </ng-container>

      <!-- FPI Column -->
      <ng-container matColumnDef="fpi">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by fpi">FPI</th>
        <td *matCellDef="let element" class="table-cell" mat-cell> {{element.fpi}} </td>
      </ng-container>

      <!-- Resume FPI Column -->
      <ng-container matColumnDef="resumeFpi">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by resumeFpi">Resume FPI</th>
        <td *matCellDef="let element" class="table-cell" mat-cell> {{element.resumeFpi}} </td>
      </ng-container>

      <!-- Average Win Probability Column -->
      <ng-container matColumnDef="averageWinProbability">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by averageWinProbability">Average Win Probability</th>
        <td *matCellDef="let element" class="table-cell" mat-cell> {{element.averageWinProbability}} </td>
      </ng-container>

      <!-- Strength Of Schedule Column -->
      <ng-container matColumnDef="strengthOfSchedule">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by strengthOfSchedule">Strength of Schedule</th>
        <td *matCellDef="let element" class="table-cell" mat-cell> {{element.strengthOfSchedule}} </td>
      </ng-container>

      <!-- Game Control Column -->
      <ng-container matColumnDef="gameControl">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by gameControl">Game Control</th>
        <td *matCellDef="let element" class="table-cell" mat-cell> {{element.gameControl}} </td>
      </ng-container>

      <!-- Overall Efficiency Column -->
      <ng-container matColumnDef="overallEfficiency">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by overallEfficiency">Overall Efficiency</th>
        <td *matCellDef="let element" class="table-cell" mat-cell> {{element.overallEfficiency}} </td>
      </ng-container>

      <!-- Offense Efficiency Column -->
      <ng-container matColumnDef="offenseEfficiency">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by offenseEfficiency">Offense Efficiency</th>
        <td *matCellDef="let element" class="table-cell" mat-cell> {{element.offenseEfficiency}} </td>
      </ng-container>

      <!-- Defense Efficiency Column -->
      <ng-container matColumnDef="defenseEfficiency">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by defenseEfficiency">Defense Efficiency</th>
        <td *matCellDef="let element" class="table-cell" mat-cell> {{element.defenseEfficiency}} </td>
      </ng-container>

      <!-- Special Teams Efficiency Column -->
      <ng-container matColumnDef="specialTeamsEfficiency">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by specialelementsEfficiency">Special elements Efficiency</th>
        <td *matCellDef="let element" class="table-cell" mat-cell> {{element.specialTeamsEfficiency}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
</div>
