@import "src/assets/styles/variables";

.header-container {
  background-color: $cfs-blue-3;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 450px 400px auto;
  grid-template-rows: 60px;
  margin-bottom: 20px;
  //border: red 1px solid;
}

.header-title {
  font-size: 40px;
  color: $cfs-white;
  align-self: center;
  margin-left: 20px;
}

.header-subtitle {
  font-size: 20px;
  color: $cfs-white;
  justify-self: left;
  margin-top: 24px;
}

.select-container {
  justify-self: left;
  align-self: center;
  width: 150px;
}

.dropdown-font {
  font-size: 14px;
  //background-color: #f1f1f1;
  color: $cfs-blue-3;
}

.search-container {
  justify-self: left;
  align-self: center;
  width: 400px;
  margin-left: 20px;
}

.main-content-table {
  margin-left: 10px;
  margin-right: 10px;
  //border: 1px solid red;
}

.table-container {
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  //border: 1px solid red;
}

.team-table {
  margin-bottom: 15px;
  width: 100%;
  //border: 1px solid red;
}

.header-cell {
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: $cfs-white !important;
  background-color: $cfs-blue-5 !important;
}

.table-cell {
  border: 2px solid white;
  cursor: pointer;
  color: $cfs-blue-4;
  background-color: $cfs-grey-4;
}

