<app-spinner *ngIf="isLoading"></app-spinner>
<div class="mat-elevation-z8 header-container">
  <span class="header-title">Ratings - FPI</span>

  <div class="select-container">
    <select class="form-select dropdown-font" (change)="selectYear();" [(ngModel)]="selectedYear">
      <option value="All">All Conferences</option>
      <option *ngFor="let year of years" [value]="year">{{year}}</option>
    </select>
  </div>

</div>


<div class="main-content-table">
  <div class="mat-elevation-z8 table-container">
    <table [dataSource]="dataSource" class="team-table" mat-table matSort>
      <!-- Team Column -->
      <ng-container matColumnDef="team">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by team">Team</th>
        <td *matCellDef="let team" class="table-cell" mat-cell> {{team.team}} </td>
      </ng-container>

      <!-- Conference Column -->
      <ng-container matColumnDef="conference">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by conference">Conference</th>
        <td *matCellDef="let team" class="table-cell" mat-cell> {{team.conference}} </td>
      </ng-container>

      <!-- FPI Column -->
      <ng-container matColumnDef="fpi">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by fpi">FPI</th>
        <td *matCellDef="let team" class="table-cell" mat-cell> {{team.fpi}} </td>
      </ng-container>

      <!-- Average Win Probability Column -->
      <ng-container matColumnDef="averageWinProbability">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by averageWinProbability">Average Win Probability</th>
        <td *matCellDef="let team" class="table-cell" mat-cell> {{team.averageWinProbability}} </td>
      </ng-container>

      <!-- Strength Of Schedule Column -->
      <ng-container matColumnDef="strengthOfSchedule">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by strengthOfSchedule">Strength of Schedule</th>
        <td *matCellDef="let team" class="table-cell" mat-cell> {{team.strengthOfSchedule}} </td>
      </ng-container>

      <!-- Game Control Column -->
      <ng-container matColumnDef="gameControl">
        <th *matHeaderCellDef class="header-cell" mat-header-cell mat-sort-header sortActionDescription="Sort by gameControl">Game Control</th>
        <td *matCellDef="let team" class="table-cell" mat-cell> {{team.gameControl}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
</div>
